
{% extends "base.html" %}

{% block title %}
   {{ servername }} SQL query
{% endblock %}

{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3"></script>
    <style>
        #chartContainer {
            width: 800px;
            overflow-x: auto; /* Enable horizontal scrolling */
        }
        
        #myChart {
            display: block;
        }
    </style>
{% endblock %}

{% block content %}

{{ block_header(servername)}}
<div style="display: flex;">
    <div style="flex: 1; padding: 10px;">
        <div id="savedQueriesList"></div>
        <button onclick="newQuery()">New</button>
        <button onclick="renameQuery()">Rename</button>
        <button onclick="deleteQuery()">Delete</button>
    </div>
    <div style="flex: 3; padding: 10px;">
        <textarea id="queryInput" style="width: 100%; height: 30em;"></textarea>
        <button onclick="submitQuery()">Run Query</button>
        <button onclick="saveQuery()">Save</button>
        <button onclick="clearOutput()">Clear Output</button>
    </div>
</div>
<p>
    current date time: {{current_datetime}}
</p>
{{ block_footer() }}

{{block_header('Query Results')}}
<div>
    <input type="text" id="timeColumn" placeholder="Time Column Name" value="date">
    <select id="timeGranularity">
        <option value="yearly">Yearly</option>
        <option value="monthly">Monthly</option>
        <option value="daily" selected>Daily</option>
        <option value="hourly">Hourly</option>
        <option value="minutely">Minutely</option>
        <option value="secondly">Secondly</option>
    </select>
    <input type="text" id="dataColumn" placeholder="Data Column Name" value="total_hits">
    <button onclick="renderChart()">Render Chart</button>
</div>
<div id="chartContainer">
    <canvas id="myChart"></canvas>
</div>
<div id="query_results"></div>
{{block_footer()}}

<script src="static/query_storage.js"></script>
<script src="static/render_chart.js"></script>

<script>
    var sqlResponse = null;

    function submitQuery() {
        document.getElementById('query_results').innerHTML = '';
        const query = document.getElementById('queryInput').value;
        fetch('/sql', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ query: query })
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById('query_results').innerHTML = createHtmlTableFromData(data);
            sqlResponse = data;
            loadAndCheckFieldSettings(data.columns);
        })
        .catch(error => {
            console.log('catch-error: ', error);
        });
    }

    function createHtmlTableFromData(data) {
        let tableHtml = "<table><thead><tr>";
        data.columns.forEach(column => {
            tableHtml += `<th>${column}</th>`;
        });
        tableHtml += "</tr></thead><tbody>";
        data.rows.forEach(row => {
            tableHtml += "<tr>";
            data.columns.forEach(column => {
                tableHtml += `<td>${row[column]}</td>`;
            });
            tableHtml += "</tr>";
        });
        tableHtml += "</tbody></table>";
        return tableHtml;
    }


    
    function saveFieldSettings() {
        const timeColumn = document.getElementById('timeColumn').value;
        const dataColumn = document.getElementById('dataColumn').value;
        const timeGranularity = document.getElementById('timeGranularity').value;
    
        const newSettings = {
            timeColumn,
            dataColumn,
            timeGranularity
        };

        console.log("saving settings");    
    
        // Retrieve existing settings
        let existingSettings = localStorage.getItem('chartSettings');
        existingSettings = existingSettings ? JSON.parse(existingSettings) : [];
    
        // Check if the new settings already exist
        const isDuplicate = existingSettings.some(settings => 
            settings.timeColumn === newSettings.timeColumn &&
            settings.dataColumn === newSettings.dataColumn &&
            settings.timeGranularity === newSettings.timeGranularity
        );
    
        // If not a duplicate, add to the existing settings
        if (!isDuplicate) {
            console.log("no duplicate detected, adding...");
            existingSettings.push(newSettings);
            localStorage.setItem('chartSettings', JSON.stringify(existingSettings));
        }
    }
  

    function loadAndCheckFieldSettings(dataColumns) {
        const savedSettings = JSON.parse(localStorage.getItem('chartSettings'));
    
        if (!savedSettings || savedSettings.length === 0) return;
        
        console.log("Settings file exists");
    
        // Iterate through each saved setting to find a match
        for (const setting of savedSettings) {
            const { timeColumn, dataColumn, timeGranularity } = setting;
        
            if (dataColumns.includes(timeColumn) && dataColumns.includes(dataColumn)) {
                console.log("Found a match!");
                document.getElementById('timeColumn').value = timeColumn;
                document.getElementById('dataColumn').value = dataColumn;
                document.getElementById('timeGranularity').value = timeGranularity;
    
                // Break the loop after finding the first match
                break;
            }
        }
    }
    
    updateSavedQueriesList();
</script>

{% endblock %}
